<h2>Search weather in the city</h2>
<form action="/api" method="post">
  <label for="city">City</label>
  <input type="text" name="city" id="city">
  <input type="submit" value="Search weather">
</form>