<h1> <%= primera.data.name %> </h1>
<p>The weather in <%= primera.data.name %> is <%= Math.floor(primera.data.main.temp - 273) %>ºC</p>
<p>In 5 days the weather will be <%= Math.floor(segunda.data.list[39].main.temp - 273) %>ºC</p>
<a href="/api">Mirar otra ciudad</a>